body
{
	background-image: url("imprint.jpg");
	background-color: #6D246D;
}

hr
{
	height: 4px;
	background-color: #E0B463;
}

.mylogo
{
	border-radius: 50%;
	margin-top: 20px;
	max-width: 150px;
	max-height: 150px;
}


.myGrid
{
	margin-left: 10%;
	margin-right: 10%;
}

.myCarousel
{
	max-width: 1140px;
	max-height: 450px;
}

.row
{
	display: flex;
}

.grey-sceme
{
	color: #BCBBBB;
}

.green-sceme
{
	color:  #E0B463;
}

.apply-lato
{
	font-family: 'Lato', sans-serif;
	margin-top: 30px;
	color:  #E0B463;
}

.extra-margin
{
	margin-top: 20px;
}

.jane-font
{
	font-size: 63px;
	
}